.dashboard {
  display: flex;
  height: 100vh;
}

.task_added li .task-icon {
  font-size: 18px;
  color: #3498db;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 150px;
  }
}

.logo-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  padding-top: 10px;
  height: 60px;
}

.logo1 {
  max-width: 100%;
  height: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar-button {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-button .circle-icon {
  font-size: 25px;
  color: #ffffff;
  margin-right: 25px;
}
.sidebar-button span {
  color: #ffffff;
}
.sidebar-button:hover {
  transform: scale(1.05);
}

.sidebar-button-slected {
  background-color: #e9f5f4;
  border-radius: 10px;
  color: #1c4d53;
  padding: 13px;

  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-right: 8%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.sidebar-button-slected .circle-icon {
  font-size: 25px;
  color: #1c4d53;
  margin-right: 25px;
}
.span {
  color: #1c4d53;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  background-position: fixed;
  position: relative;
}

.icon-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.bell-icon {
  font-size: 24px;
  color: #1c4d53;
  cursor: pointer;
}

.user-icon {
  padding-top: 60px;
  font-size: 30px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.content h1 {
  font-size: 36px;
  color: #2c3e50;
  margin-top: 60px;
}

.add-task-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d87a9;
  color: white;
  padding: 15px 24px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.add-task-icon {
  font-size: 18px;
  margin-right: 10px;
}

.chat-button-container {
  position: fixed;
  bottom: 35px;
  right: 50px;
}

.chat-icon {
  font-size: 30px;
  color: #5e80a0;
  cursor: pointer;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.achievements {
  position: absolute;
  top: 8%;
  left: 48%;
  transform: translateX(-50%);
  font-size: 3vw;
  color: #5b789f;
}

.present_time {
  position: absolute;
  top: 165px;
  right: 80px;
  font-size: 20px;
  color: #5b789f;
}

.task_added {
  position: absolute;
  top: 225px;
  left: 70px;
  font-size: 26px;
  color: #8996a2;
}

.sidebar-button {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.arrow-sign {
  position: absolute;
  right: 10px;
  font-size: 14px;
  color: #3498db;
}

.profile-info {
  font-size: 16px;
  margin-right: 50px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
}

.hightask {
  color: green;
  padding-right: 15px;
}

.lowtask {
  color: rgb(0, 0, 0);
  padding-right: 15px;
}

.mediumtask {
  color: purple;
  padding-right: 15px;
}

.description {
  color: #34495e;
  font-size: 18px;
}

.eachtask {
  border-style: unset;
  border-radius: 10px;
}

.task-icon {
  font-size: 20px;
}
.achievements-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 800px;
  padding-bottom: 100px;
  width: 100%;
}

.achievements {
  margin-left: 1%;
  font-size: 3em;
  font-weight: 600;
  color: #264653;
  font-family: "Work Sans", sans-serif;
}

.achievement-item.earned {
  border-color: #ddd;
  background-color: #ffffff;

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.achievement-item {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 0.5px solid #ddd;
  border-radius: 30px;
  background-color: #f9f9f9;
  width: 80%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.achievement-header {
  color: #a8adb1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.medal-icon {
  font-size: 55px;
  color: #a8adb1;
  margin-top: 10px;
  margin-left: 15px;
  padding-top: 10px;
}

.medal-icon.earned {
  color: #1c4d53;
}

.achievement-name {
  font-size: 27px;
  font-weight: 600;
  color: #a8adb1;
  margin-left: 27px;
  margin-bottom: 15px;
}

.achievement-name.earned {
  color: #1c4d53;
}

.achievement-description {
  font-size: 20px;
  color: #a8adb1;
  margin-left: 100px;
  position: relative;
  top: -15px;
}

.achievement-description.earned {
  color: #000000;
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
}

@media (min-width: 300px) {
  .achievement-item {
    margin-left: 3%;
    margin-right: 3%;
    flex-basis: calc(45% - 30px);
  }
}
