@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

.dashboard {
  display: flex;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.sidebar {
  width: 16%;
  background-color: #1c4d53;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(28, 76, 83),
    rgba(255, 255, 255, 0.1)
  );
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.sidebar ul li,
.sidebar ul li .sidebar-button {
  color: #ffffff;
}

.sidebar ul li .sidebar-button {
  font-weight: 500;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  margin-left: 16%;
}

.topbar {
  width: calc(100% - 16%);
  display: flex;
  justify-content: flex-end;
  padding: 30px 50px;
  background-color: #ffffff;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 16%;
  z-index: 999;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s ease, top 0.3s ease;
}

.topbar.minimized {
  transform: translateY(-80%);
}

.topbar:hover {
  transform: translateY(0);
}

.icon-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  font-family: "Work Sans", sans-serif;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 12px;
  gap: 20px;
  align-items: center;
}

.filter select,
.category-filter select {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 8px 12px;
  color: #34495e;
}

.filter select:hover,
.category-filter select:hover {
  border-color: #2a9d8f;
}

.filter select:focus,
.category-filter select:focus {
  border-color: #2a9d8f;
  box-shadow: 0 0 5px rgba(42, 157, 143, 0.5);
}

.task-list {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Work Sans", sans-serif;
}

.task-card {
  margin-left: 22%;
  width: 68%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  position: relative;
}

.task-header {
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: normal;
  font-family: "Work Sans", sans-serif;
}
.task-name {
  width: 70%;
  font-size: 20px;
  font-weight: 600;
  color: #34495e;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  box-sizing: border-box;
  flex-grow: 1;
}

.task-datetime {
  width: 33%;
  background-color: #ffffff;
  color: #2a9d8f;
  padding-top: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.task-icons {
  display: flex;
  gap: 15px;
  margin-left: 400px;
  font-family: "Work Sans", sans-serif;
}

.task-icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9f5f4;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-icon-card:hover {
  background-color: #c4e2de;
}

.task-icon-edit,
.task-icon-done {
  font-size: 16px;
  color: inherit;
}

.task-icon-edit {
  color: #264653;
}
.task-icon-done {
  color: #264653;
}

.task-description {
  font-size: 15px;
  color: #666;
  font-family: "Work Sans", sans-serif;
}

.task-details,
.task-body .task-details,
.task-body .t-details {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #34495e;
  margin-top: 10px;
  flex-wrap: nowrap;
}

.task-card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9f5f4;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
  color: rgba(38, 70, 83, 0.7);
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
}

.task-card-item svg {
  margin-right: 5px;
  color: rgba(38, 70, 83, 0.7);
}

.task-done-button {
  background-color: #6a9c9e;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.task-done-button:hover {
  background-color: #5b898c;
}

.Hero {
  width: 70%;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.hero-today {
  margin-left: 1%;
  font-size: 3em;
  font-weight: 600;
  color: #264653;
  font-family: "Work Sans", sans-serif;
}

.hero-date {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.date-text {
  font-size: 18px;
  font-weight: 500;
  color: #34495e;
  font-family: "Work Sans", sans-serif;
}

.body-dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

#calendar {
  width: 20%;
  flex-shrink: 0;
  background-color: #ffffff;
  color: #264653;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

#calendar #month {
  background-color: #2a9d8f;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
}

#calendar #date,
#calendar #weekday,
#calendar #year {
  color: #264653;
  margin-top: 10px;
}

.bg {
  background-color: white;
}

.voice-task-popup {
  position: fixed;
  top: 59%;
  right: 18%;
  transform: translate(50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.close-popup-button {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

.mic-icon {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}
.voice-task-button {
  position: fixed;
  bottom: 15%;
  right: 1.5%;
  background-color: #1c4d53;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 9999;
  transition: background-color 0.3s ease;
}

.voice-task-button .mic-icon {
  font-size: 1.5em;
  color: #ffffff;
}

.voice-task-button:hover {
  background-color: #1e7f70;
}

.add-task {
  display: block;
  margin: 1.67% 2.5%;
  margin-left: 29%;
  padding: 15px 20px;
  background-color: #6a9c9e;
  box-shadow: 0 4px 8px rgba(79, 141, 140, 0.2);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.add-task:hover {
  background-color: #a9c9d2;
}
