* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
}

.navbar2 {
  width: 20%;
  height: 10vh;
  background-color: #ffffff;
  padding: 10px 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: fixed;

  top: 0;
  z-index: 1000;
}

.main-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #ffffff;

  margin: 0;
  flex-direction: column;
}

.left-image {
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-image img {
  max-width: 100%;
  height: auto;
}

.right-image {
  position: absolute;
  top: 0;
  bottom: 100;
  right: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .left-image,
  .right-image {
    width: 15%;
  }
}

@media (max-width: 480px) {
  .left-image,
  .right-image {
    width: 10%;
  }
}

@media (max-width: 768px) {
  .main-container2 {
    flex-direction: column;
  }

  .left-image,
  .right-image {
    position: static;
    width: 100%;
  }
}

.logo2 {
  display: flex;
  position: absolute;
  top: 25px;
  left: 100px;
  width: 200px;
}

.header2 {
  display: flex;
  flex-direction: column;
  align-items: auto;
  margin-left: 80px;
  gap: 9px;
  width: 100%;
  margin-top: 90px;
}

.text2 {
  color: #1c4d53;
  font-weight: 70;
  margin-left: 80px;
}

.label_text2 {
  color: #000000;
  margin-left: 80px;
  font-size: 17px;
}

.forgot-password {
  padding-left: 165px;
  margin-top: 20px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  color: #1c4d53;
  cursor: pointer;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  border-radius: 10px;
  padding: 40px 20px;
  background: #fff;
  overflow: hidden;
}

.submit-container,
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.auth-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 45px;
  color: #fff;
  background-color: #1c4d53;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.submit.gray {
  background-color: #1c4d53;
  color: #ffffff;
  border: none;
  height: 42px;
}

.auth-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #a3a5a8;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  width: 400px;
}

.submit-container .submit,
.auth-container .auth-button {
  max-width: 100%;
  box-sizing: border-box;
}
