@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

#calendar {
  position: absolute;
  margin-top: 60px;
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 75%;
  font-family: "Work Sans", sans-serif;
}

#month {
  background-color: #2d649b;
  width: 100%;
  margin: 0;
  padding: 15px;
  text-align: center;
  border-radius: 12px 12px 0 0;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Work Sans", sans-serif;
}

#weekday,
#year {
  font-size: 16px;
  color: #34495e;
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
}

#date {
  font-size: 74px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #2d649b;
  font-family: "Work Sans", sans-serif;
}
