/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #264653;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #264653;
}

button {
    background-color: #2A9D8F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #264653;
}

/* Routine Form Styling */
.routine-form-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.routine-form {
    width: 60%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-manual {
    width: 35%;
    height: 50vh;
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.user-manual h3 {
    text-align: center;
}

.user-manual ol {
    padding-left: 20px;
}

.user-manual p {
    margin-bottom: 10px;
}

/* Form Elements */
.routine-form label {
    display: inline-block;
    width: 100px;
    color: #264653;
    font-weight: bold;
}

.routine-form input[type="text"],
.routine-form input[type="number"],
.routine-form input[type="time"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #264653;
    border-radius: 5px;
    font-size: 16px;
}

.routine-form button {
    margin-top: 20px;
    width: 100%;
}

.routine-form ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.routine-form li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

/* Generated Routine Styling */
.your-routine {
    margin-top: 30px;
    background-color: #264653;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.routine-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.routine-logo {
    height: 50px;
}

.routine-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.routine-list li {
    background-color: #2A9D8F;
    color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.routine-task-name {
    font-weight: bold;
}

.routine-task-time {
    font-style: italic;
}

/* Routine Actions */
.routine-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.print-button, .download-button {
    width: 28%;
}
